/*全局样式*/
*{
	padding: 0;
	margin: 0;
}
body{
	font: 12px/1.5,tahoma,arial;
	font-family:-apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a{
	text-decoration: none;
}
a,span{
	color: #999;
}
li{
	list-style: none;
}